<!DOCTYPE html>
<html lang="en">
<head>
    <title>Error</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/pagenotfound.css" />
</head>
<body>
<h1>Valami hiba</h1>

</body>
</html>